/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
    --font-color: #667085;
}

/* GERAL */
body {
    margin: 0 80px;
    font-family: 'Inter', sans-serif;
}

/* CABEÇALHO */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 18px;
    font-weight: 500;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.menu a {
    text-decoration: none;
    color: var(--font-color);
    
    font-size: 16px;
    font-weight: 500;
}

.actions button {
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.actions .login {
    background-color: transparent;
    color: var(--font-color);
    margin-right: 4px;
}

.actions .signin {
    background-color: #8E2424;
    color: #FFFFFF;
}